@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

.App{
    text-align:center;
    width: 50vw;
    margin: auto;
    margin-top: 10px;
    padding: 1.25em;
    background-color:#dfdfdf;
    border:none;
}

input, select{
    border:none;
}

.icon-container{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin:auto;
    padding: 20px;
}

.search-bar, .icon-container{
    font-size: 2em;
}

input, select{
    margin-left: 5px;
    padding: 5px;
}